/* Judul */

.judul {
    margin-top:10vh;
    text-align: center;
}

.judul p {
	font-family: 'Montserrat', sans-serif;
	font-size: 61px;
	font-weight: bold;
	color: white;
}

/* Form Feedback */
.inputbox {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    padding: 5px 10px 5px 10px;
    width: 450px;
}

.fields {
    margin-top: 40px;
}

.container-form {
    text-align: right;
    margin-top: 95px;
    margin-bottom: 200px;
    max-width: 480px;
}

.submit-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    background-color: #4F8A8B;
    padding: 10px;
    margin-top: 20px;
}

/*List Feedback */
.container-list {
    align-items: center;
    margin-top: 95px;
    margin-bottom: 200px;
}

.container-list p:nth-child(1) {
    color: #FBD46D;
    font-size: 24px;
    font-weight: 800;
}

.container-list p:nth-child(2) {
    color: #FBD46D;
    font-weight: 300;
    border-bottom: 1px solid #FBD46D;
    padding-bottom: 20px;
}

.container-list p:nth-child(3) {
    color: #F7F7F7;
    font-weight: 300;
}
.singles {
    margin-top: 100px;
}

/* Responsive */
@media (max-width: 576px) {
    .judul p {
        font-size: 45px;
    }
    .container-form {
        max-width: 300px;
        margin-top: 60px;
    }
    .container-list {
        margin-top: 10px;
    }
    .inputbox {
        width: 270px;
        font-size: 18px;
    }
    .submit-button {
        font-size: 18px;
    }
    .singles {
        margin-top: 50px;
    }
}

