@media screen and (max-width: 640px) {
    #kasus-harian {
        position: relative!important;
        top: 0!important;
        left: 0!important;
    }
    #kasus-harian-graph{
        height: unset!important;
    }
    #chart-container {
        top: -120px!important;
    }
    #padding-middle{
        height: 3em!important;
    }
}

/* Global */
h1, h2, h3, h4, p {
    margin: 0!important;
}
.font-white{
    color: #EEEEEE;
}
#padding-middle{
    height: 20em;
}
/* body{
    align-items: center;
} */


/* JQuery Autocomplete */
.ui-menu{
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    outline: unset!important;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #222831 #FFFFFF00;
}
.ui-menu::-webkit-scrollbar{
    width: 5px;
}
.ui-menu::-webkit-scrollbar-thumb{
    margin: 1px;
    background-color: #222831;
}
.ui-menu::-webkit-scrollbar-track{
    background-color: #FFFFFF00;
}
.ui-widget{
    font-family: Montserrat, Arial, Helvetica, sans-serif!important;
}


/* Total Kasus */
.total-card{
    border-radius: 12.5px;
}
.total-card:nth-child(1){
    background-image: linear-gradient(to right, #222831 40%, #252e37f3 ,  #C1A352);
}
.total-card:nth-child(2){
    background-image: linear-gradient(to right, #222831 40%, #252e37f3 ,  #4F8A8B);
}
.total-card:nth-child(3){
    background-image: linear-gradient(to right, #222831 40%, #252e37f3 ,  #972222);
}


/* Chart */
#kasus-harian{
    position: absolute;
    left: 5vw; 
    top: 100px;
}
#input-daerah{
    border: none;
    border-radius: 8px; 
    outline: none; 
    width: clamp(300px , 50vw, 380px); 
    height: 40px; 
    font-size: 22px;
}
#submit-button{
    position: absolute; 
    right: 4px; 
    background-color: transparent; 
    outline: none; 
    border: none;
}
#load-anim{
    height: fit-content;
}
.load-rotate{
    display: unset!important;
    transform-origin: center;
    animation: rotate 1.5s infinite linear;
    -webkit-animation: rotate 1.5s infinite linear;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    } 
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
    }
}
@-webkit-keyframes rotate {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    } 
    100% {
        transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
    }
}

#p-sembuh::before, #p-meninggal::before, #p-positif::before {
    content: '\200B';
    width: 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: 5px;
}
#p-sembuh::before, .tooltip-box-sembuh::before{
    background-color: #4F8A8B;
}
#p-meninggal::before, .tooltip-box-meninggal::before{
    background-color: #972222;
}
#p-positif::before, .tooltip-box-positif::before{
    background-color: #C1A352;
}
#chart-container{
    max-width: 100vw;
    position: relative;
    top: 150px;
    left: 5px;
}
.tooltip-box-sembuh, .tooltip-box-meninggal, .tooltip-box-positif, .tooltip-tanggal{
    color: black;
    font-size: smaller;
    padding: 2px;
}
.tooltip-tanggal{
    padding-bottom: 5px;
}
.tooltip-box-sembuh::before, .tooltip-box-meninggal::before, .tooltip-box-positif::before{
    content: '\200B';
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 5px;
}
.tick line, .domain{
    stroke: white!important;
}
.tick text{
    color: white;
    font-family: Montserrat;
    font-size: 10px;
    text-transform: capitalize;
}
.svg-hover{
    opacity: 0.6;
}
rect:focus{
    border: unset;
    outline: unset;
}
svg{
    overflow: visible;
}

#toggle{
    border-radius: 6px;
    padding: 2px;
    height: 6.2em;
    width: fit-content;
    background-color: #EEEEEE; 
    box-shadow: inset -.2rem .2rem .5rem rgba(0,0,0,.2);
    z-index: 99;
}
#buttonToggle{
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    width: 3em; 
    height: 3em;
    background-image: linear-gradient(to right, #b49643, #3d6969 70%);
    transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
    user-select: none;
}
.logoToggle{
    transition: all 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}