/* Judul */

.judul {
	margin-top:10vh;
}

.judul p {
	font-family: 'Montserrat', sans-serif;
	font-size: 61px;
	font-weight: bold;
	color: white;
}


/* Blog list */

.blog-list {
	/*margin-top: 100px;*/
	padding-bottom: 30vh;
}
.blog-list .card {
	margin-top:13.8vh;
	background-color: #222831;
	box-shadow: 0px 0px 20.5591px 3.42652px rgba(0, 0, 0, 0.4);
	border-radius: 10.2796px;
	width:20rem;
}

.card .img-container {
	width:20rem;
	height:27vh;
}
.card-img-top {
	object-fit: cover;
	max-width:99%;
	height:100%;
	border-top-left-radius: 10.2796px;
	border-top-right-radius: 10.2796px;

}

.blog-list .card .card-body {
	height: 32vh;
}

.blog-list .card .card-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.blog-list .card .judul-blog{
	font-size: 20px;
	color: #FBD46D;
}
.blog-list .card .isi {
	font-size: 16px;
	color: white;
	font-weight: 300;
	text-align: justify;
}

.blog-list .card .lebih-lanjut {
	font-weight: 500;
	text-align: right;
	color:#FBD46D;
	font-size: 13px;
	margin-left: auto;
	bottom:0;
	align-self: end;
}




/* Media Queries */
@media only screen and (max-width: 1000px) {
	
	/* Judul */
	.judul {
		margin-top: 5vh;
	}


	.judul p {
		font-size: 45px;
	}

	.card {
		margin-top:5vh;
	}

	/* List blog */

	.blog-list .card {
		width:17rem;
	}
	.blog-list .card .img-container {
		width:100%;
	}
	.blog-list .card .card-body {
		height: 30vh;
	}



}