{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoroNow</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap"
        rel="stylesheet">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>

    {% block head %}
    {% endblock head %}
</head>

<body class="position-relative d-flex flex-column">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <a class="navbar-brand ml-2" href="{% url 'index' %}"><span>C</span><span>oro</span><span>Now</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto mr-5">
                <a class="nav-link" href="{% url 'covidstats' %}">Stats</a>
                <a class="nav-link" href="{% url 'covidNews' %}">News</a>
                <a class="nav-link" href="{% url 'covidBlog' %}">Blog</a>
                <div class="dropdown">
                    <button class="nav-link btn dropdown-toggle" type="button"
                    data-toggle="dropdown" aria-haspopup="true">Feedback</button>
                    <div class="dropdown-menu">
                        <a class="dpdwn dropdown-item" href="{% url 'feedback' %}">Isi Feedback</a>
                        <a class="dpdwn dropdown-item" href="{% url 'listfeedback' %}">List Feedback</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- end of Navbar -->
    {%block content%}
    {% endblock content%}

    <!-- Footer -->
    <footer class="d-flex flex-grow-1 align-items-end w-100">
        <div class="container-fluid footer d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-5 kontak d-flex justify-content-center align-items-center">
                    <span class="">Contact Us.</span>
                </div>
                <div class="col-lg-7 foto-kontak d-flex justify-content-around align-items-center">
                    <a target="_blank" href="https://maung.id/i.gede97"><img class="img-fluid"
                            src="{% static 'img/adit.png'%}"></a>
                    <a target="_blank" href="https://maung.id/fikri.akmal"><img class="img-fluid"
                            src="{% static 'img/fikri.png'%}" alt=""></a>
                    <a target="_blank" href="https://maung.id/ghifari.zakaria"><img class="img-fluid"
                            src="{% static 'img/ghiffari.png'%}" alt=""></a>
                    <a target="_blank" href="https://maung.id/vanessa.emily"><img class="img-fluid"
                            src="{% static 'img/vanessa.png'%}" alt=""></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- end of footer -->
</body>

</html>