.judul {
    margin-top:10vh;
    text-align: center;
}

.judul p {
    text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 61px;
	font-weight: bold;
	color: white;
}
.Namaberita {
    margin-left: 335px;
    margin-right: 335px;
}
.Namaberita img{
    float: right;
    width: 200px;
    height: 250px;
}
.Namaberita p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 39.7994px;
    line-height: 49px;
    display: flex;
    align-items: center;
    color: #FBD46D;
}
.isiBerita {
    margin-left: 330px;
    margin-right: 330px;
}
.isiBerita p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 18.656px;
    line-height: 28px;
    text-align: justify;
    color: #FFFFFF;
}
.komentar{
    position: relative;
    width: 700px;
    height: 20px;
    left: 330px;
    background: #4F8A8B;
}
.komentar p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
#formKomentar{
    margin-left: 320px;
    border: 0px solid #222831;
    width:800px;
    padding:10px;
}

 input, textarea{
     padding: 10px;
     border:3px solid #4F8A8B;
     color: #FBD46D;
     background: #222831;
     border-radius: 5px;
     margin-bottom: 15px;
     width: 700px;
 }

 input:focus, textarea:focus{
     border:3px solid #5E4F4F;
 }
 ::placeholder{ 
    color:#FBD46D ;
    opacity: 1; 
  }


 input[type="submit"]{
     cursor: pointer;
    background: -webkit-linear-gradient(top, #faf8f8, #ddd);
    background: -moz-linear-gradient(top, #efefef, #ddd);
    background: -ms-linear-gradient(top, #efefef, #ddd);
    background: -o-linear-gradient(top, #efefef, #ddd);
    background: linear-gradient(top, #efefef, #ddd);
    color: #333;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    border: 1px solid #ccc;
 }

 input[type="submit"]:hover {
    background: -webkit-linear-gradient(top, #eee, #ccc);
    background: -moz-linear-gradient(top, #eee, #ccc);
    background: -ms-linear-gradient(top, #eee, #ccc);
    background: -o-linear-gradient(top, #eee, #ccc);
    background: linear-gradient(top, #eee, #ccc);
    border: 1px solid #bbb;
}
.namakomentar{
    margin-left: 330px;
}
.namakomentar p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 49px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #FBD46D;
}
.isikomentar{
    margin-left: 330px;
    margin-right: 330px;
}
.isikomentar p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #F7F7F7;
}