{% extends 'base.html'%}
{% load static %}
{% block head%}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock head %}


{% block content %}
<!-- Judul -->
<section>
    <div class="container d-flex justify-content-center judul">
        <div class="row">
            <div class="col-auto">
                <p>CovidBlog</p>
            </div>
        </div>
    </div>
</section>
<!-- end of judul -->




<!-- Blog list -->
<section>
    <div class="container-fluid d-flex justify-content-center blog-list">
        <div style="width:100vw" class="row d-flex justify-content-around">
        	{% for blog in blog %}
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="img-container">
                        <img class="card-img-top img-fluid" src="{{blog.image.url}}" alt="Card image cap">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text judul-blog">{{blog.title}}</p>
                        <p class="card-text isi">{{blog.snippet|striptags}}</p>
                        <a class="lebih-lanjut mt-auto" href="{% url 'blog' blog.id %}"><p class="card-text">Baca lebih lanjut<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146
                                a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                            </svg>
                        </p>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
</div>
</div>
</section>
<!-- end of blog -->

{% endblock content%}
<!-- end of block -->