{% extends 'base.html'%}
{% load static %}
{% load cloudinary %}
{% block head %}
	<link rel="stylesheet" href="{% static 'css/isiBlog.css' %}">
{% endblock head%}
{% block content %}
	<!-- Judul -->
	<section>
		<div class="container d-flex justify-content-center judul">
			<div class="row">
				<div class="col-auto">
					<p>CovidBlog</p>
				</div>
			</div>
		</div>
	</section>
	<!-- end of judul -->
	<!-- Judul Blog -->
	<section>
		<div class="container d-flex justify-content-center judul-blog">
			<div class="row d-flex justify-content-center">
				<p style="text-align: center">
					{{blog.title}}
				</p>
			</div>
			
		</div>
	</section>
	<!-- end of judul blog -->
	
	<!-- Blog Image -->
	<section>
		<div class="container d-flex justify-content-center blog-image">
			<img class="img-fluid" src="{{blog.image.url}}" alt="">
		</div>
	</section>
	<!-- end of blog image -->
	
	<!-- Blog body -->
	<section>
		<div class="container d-flex isi-blog">
			<div class="row">
				<div class="col-auto body">
					<span class="author-dan-tanggal">
						<!-- SVG for person icon -->
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
						</svg>{{blog.author}}<br>
						<!-- SVG for date icon -->
						<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
							<path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
						</svg>
					{{blog.post_date}}</span>
					<span class="blog-body mt-5">
						{{blog.body|safe}}
					</span>
				</div>
			</div>
		</div>
	</section>
	<!-- end of blog body -->
	
	<!-- comments section -->
	<section class="komentar">
		<div class="container">
			<div class="row header">
				<div class="col-auto">
					<p>
						KOMENTAR
					</p>
				</div>
			</div>
		</div>
		
		
		<div class="container">
			<form method="POST">
				{% csrf_token %}
				<div class="form-group">
					<input style="color:white;" type="text" name="nama" class="form-control bg-transparent" placeholder="Nama Anda">
				</div>
				<div class="form-group">
					<textarea style="color:white;" name="komentar" class="form-control bg-transparent" placeholder="Berikan Komentar Anda"></textarea>
				</div>
				<div class="row d-flex flex-row-reverse button">
					<div class="col-auto align-self-end">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
				
			</form>
		</div>
		<div class="container list-komen">
			{% for comment in comments%}
				{% if comment.blog == blog%}
					<div class="row">
						<div class="col-auto nama-komentar">
							<span id={{comment.id}}>{{comment.nama}}</span>
						</div>
					</div>
					
					<div class="row">
						<div class="col-auto komentar-orang">
							{{comment.post_date}}<br><br>
							{{comment.komentar}}
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>

<script src="{% static 'js/blog.js'%}"></script>
	<!-- end of comments section -->
{% endblock content%}